{:deps {com.github.clojure-lsp/lsp4clj {:mvn/version "2.0.1",
                                        #_#_:local/root "vendors/lsp4clj"},
        dev.weavejester/medley {:mvn/version "1.9.0"},
        nubank/matcher-combinators {:mvn/version "3.9.2"},
        org.babashka/spec.alpha
        {:git/sha "b6eb0f2208ab036c0a5d0e7235cb0b09d2feabb7",
         :git/url "https://github.com/babashka/spec.alpha"}},
 :min-bb-version "0.4.0",
 :paths ["integration-test"],
 :tasks {integration-test entrypoint/run-all}}
