{:config-in-ns {me.vedang.logger.interface {:linters {:unused-binding {:level
                                                                       :off}}}},
 :exclude-files ".clj-kondo/*|vendors/*|examples/*"}
