{:aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}},
          :ns-default build},
  :claude
  {:args
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
    "-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.Slf4jLog"
    "-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector"
    "-Dlog4j2.configurationFile=log4j2-mcp.xml"
    "-Dbabashka.json.provider=metosin/jsonista" "-Dlogging.level=DEBUG"
    "-Dlog4j2.statusLoggerLevel=OFF" "-cp"
    "/Users/nejo/src/prototypes/mcp-cljc-sdk/v2-clojure-sdk/examples/target/io.modelcontextprotocol.clojure-sdk/examples-1.0.36.jar"
    "calculator_server"],
   :command "java"},
  :logs
  {:jvm-opts
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
    "-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.Slf4jLog"
    "-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector"
    "-Dlog4j2.configurationFile=log4j2-mcp.xml"
    "-Dbabashka.json.provider=metosin/jsonista" "-Dlogging.level=DEBUG"
    "-Dlog4j2.statusLoggerLevel=OFF"]},
  :run-calculator
  {:exec-args {}, :exec-fn -main, :ns-default calculator-server},
  :test {:extra-deps {io.github.cognitect-labs/test-runner {:git/sha "dfb30dd",
                                                            :git/tag "v0.5.1"},
                      org.clojure/test.check {:mvn/version "1.1.1"}},
         :extra-paths ["test"]}},
 :deps {io.modelcontextprotocol/mcp-clojure-sdk
        {:git/sha "09afc418416046ac6361925f981f1e6a327a2c6e",
         :git/url "git@github.com:unravel-team/mcp-clojure-sdk.git"},
        org.clojure/clojure {:mvn/version "1.12.0"}},
 :paths ["src" "resources"]}
