;;; Run with clj -M calculator_server.bb
{:aliases
 {:logs
  {:jvm-opts
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
    "-Dorg.eclipse.jetty.util.log.class=org.eclipse.jetty.util.log.Slf4jLog"
    "-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector"
    "-Dlog4j2.configurationFile=examples-mcp.xml"
    "-Dbabashka.json.provider=metosin/jsonista" "-Dlogging.level=WARN"]}},
 :deps {io.github.unravel-team/mcp-clojure-sdk
        {:git/sha "52279524b90d09e6962f13d9e975cb4cbd910dbd"}},
 :paths ["." "resources"]}
